Q1. Write a Python program to create a MySQL database and a table.

In [9]:
import mysql.connector

# Connect to MySql server

conn = mysql.connector.connect(host = "127.0.0.1", port = "3307",
    user = "root",
    password = "root")  # the password is root  and port is 3307

cursor = conn.cursor()

database_name = "pwskills_practicals"
cursor.execute(f"Create Database {database_name}")

cursor.execute(f"Use {database_name}")


# Create a new table
table_name = "employees"
cursor.execute(f"CREATE TABLE {table_name}(" "id int auto_increment primary key, "
               "name varchar(255),"
               "department varchar(255), "
               "salary Decimal(10, 2)"" )")

# Commit the changes and close the connection

conn.commit()
conn.close()


print("MySql database and table created successfully")

MySql database and table created successfully

Q2. Write a Python program to insert data into a MySQL table.

In [ ]:
import mysql.connector

# Connecting to MySql server 
conn = mysql.connector.connect(
    host = "127.0.0.1 ", user = " root", password = " root", database = " pwskills_practicals"
)

cursor = conn.cursor()


# sample data to be inserted into the table employee
data_to_insert = [(1, "Ram", "IT", 20000),
                  (2, "Shyam", "HR", 90000),
                  (3, "Hari", "Marketing", 87000),
                  (4, "Krishna", "HR", 300000),
                  (5, "Sita", "IT", 50000),
                  (6, "Gita", "Marketing", 80000),
                  (7, "Anushka", "Finance", 20000000)]


conn.commit()