Q1. Write a Python program to create a MySQL database and a table.

In [9]:
import mysql.connector

# Connect to MySql server

conn = mysql.connector.connect(host = "127.0.0.1", port = "3307",
    user = "root",
    password = "root")  # the password is root  and port is 3307

cursor = conn.cursor()

database_name = "pwskills_practicals"
cursor.execute(f"Create Database {database_name}")

cursor.execute(f"Use {database_name}")


# Create a new table
table_name = "employees"
cursor.execute(f"CREATE TABLE {table_name}(" "id int auto_increment primary key, "
               "name varchar(255),"
               "department varchar(255), "
               "salary Decimal(10, 2)"" )")

# Commit the changes and close the connection

conn.commit()
conn.close()


print("MySql database and table created successfully")

MySql database and table created successfully

Q2. Write a Python program to insert data into a MySQL table.

In [9]:
import mysql.connector

# Connecting to MySql server 
conn = mysql.connector.connect(
    host = "127.0.0.1 ", port = "3307", user = " root", password = "root", database = " pwskills_practicals"
)

cursor = conn.cursor()


# sample data to be inserted into the table employee
data_to_insert = [(1, "Ram", "IT", 20000),
                  (2, "Shyam", "HR", 90000),
                  (3, "Hari", "Marketing", 87000),
                  (4, "Krishna", "HR", 300000),
                  (5, "Sita", "IT", 50000),
                  (6, "Gita", "Marketing", 80000),
                  (7, "Anushka", "Finance", 20000000)]


sql_insert = "Insert into employees(id, name, department, salary) values(%s, %s, %s, %s)"

try:
    cursor.executemany(sql_insert, data_to_insert)
    conn.commit() 
    print("Data inserted successfully.")
except mysql.connector.Error as e:
    print(f"Error inserting data: {e}")

conn.commit()
conn.close()

Data inserted successfully.

Q3. Write a Python program to create an index on a MySQL table.

In [2]:
import mysql.connector

# Connecting to MySql server 
conn = mysql.connector.connect(
    host = "127.0.0.1 ", port = "3307", user = " root", password = "root", database = " pwskills_practicals")


cursor = conn.cursor()
table_name = "employees"
index_name = "sample_index"

# defining the columns to create index
columns = ["id", "name"]

index_query = f"Create index {index_name} ON {table_name} ({', '.join(columns)})"

try:
    cursor.execute(index_query)
    print("Index created successfully.")

except mysql.connector.Error as err:
    print(f"Error creating index: {err}")
finally:

    # closing the cursor and connection 
    cursor.close()
    conn.close()

Index created successfully.

Q4. Write a Python program to join two tables in MySQL.

In [9]:
import mysql.connector

# Connect to MySql server
conn = mysql.connector.connect(host="127.0.0.1", port="3307", user="root", password="root")

cursor = conn.cursor()

# Select the database
database_name = "pwskills_practicals"
cursor.execute(f"USE {database_name}")

# # Create a new table
# table_name = "address"
# cursor.execute(f"CREATE TABLE {table_name}(" "id int auto_increment primary key, " "name varchar(255)"" )")
# print("MySQL table created successfully")

# # Sample data to be inserted into the table address
# data_to_insert = [
#     (1, "Kathmandu"),
#     (2, "Syangja"),
#     (3, "Bhaktapur"),
#     (4, "Lalitpur"),
#     (5, "Kaski"),
#     (6, "Parbat"),
#     (7, "Baglung")
# ]

# sql_insert = "INSERT INTO address(id, name) VALUES (%s, %s)"

# try:
#     cursor.executemany(sql_insert, data_to_insert)
#     conn.commit()
#     print("Data inserted successfully.")
# except mysql.connector.Error as e:
#     print(f"Error inserting data: {e}")

# Joining 2 tables
# Define the SQL query to join two tables
sql_query = """
SELECT e.id, e.name, e.department, e.salary, a.address
FROM employees e
JOIN address a ON e.id = a.id
"""

try:
    # Execute the SQL query
    cursor.execute(sql_query)

    # Fetch all the rows returned by the query
    rows = cursor.fetchall()

    # Display the results
    for row in rows:
        print(row)

except mysql.connector.Error as err:
    print(f"Error executing SQL query: {err}")

# Commit the changes and close the connection
conn.commit()
conn.close()

Error executing SQL query: 1054 (42S22): Unknown column 'a.address' in 'field list'

Q5. Write a Python program to handle MySQL errors using exception handling.

In [2]:
import mysql.connector
try:
    conn = mysql.connector.connect(
        host="127.0.0.1", port="3307", user="root", password="root",
        database = "pwskills_practicals"
    )
    cursor = conn.cursor()


    # Executing a query that may arise an error 
    cursor.execute("Select * from sample_database")

    result = cursor.fetchall()

    print(result)

except mysql.connector.Error as err:
    # Handling MySql error
    print(f"MySql Error: {err}")

finally:
    if 'cursor' in locals() and cursor is not None:
        cursor.close()

    if 'conn' in locals() and conn is not None:
        conn.close()

MySql Error: 1146 (42S02): Table 'pwskills_practicals.sample_database' doesn't exist

In [1]:
# sample dsa questions

# 1. Program to reverse string

def reverse_string(s):
    return s[::-1]
reverse_string('ram')

'mar'

In [3]:
# 2. program to check if the given string is palindrome or not 
def check_palindrome(s):
    return s == s[::-1]

check_palindrome('ram')
check_palindrome('aba')
check_palindrome('aacaa')

True

In [5]:
# 3. Program to find factorical 
def factorical(n):
    if n <= 1:
        return 1
    
    return n * factorical(n-1)

factorical(4)

24

In [6]:
# 4. Program to find nth fibonacci number

def fibo(n):
    if n <= 1:
        return n
    return fibo(n - 1)  + fibo(n - 2)

fibo(4)

3

In [7]:
def triangle(rows):
    for i in range(1, rows + 1):
        print(' ' * (rows - i) + '*' * (2 * i - 1))

rows = 5
triangle(rows)

    *
   ***
  *****
 *******
*********

In [11]:
# right angle triangle

def triangle(rows):
    for i in range(1, rows + 1):
        print('**' * i)

triangle(6)

**
****
******
********
**********
************

# Hacker Rank

# if_else
- Task
Given an integer, n, perform the following conditional actions:

* If  is odd, print Weird
* If  is even and in the inclusive range of 2 to 5 , print Not Weird
* If  is even and in the inclusive range of 6 to 20 , print Weird
* If  is even and greater than 20 , print Not Weird

Input Format
A single line containing a positive integer,n.

Constraints
1 <= n <= 100

In [10]:
# n = int(input())
# if n % 2 == 1:
#     print("Weird")
# elif n % 2 == 0 and n >= 2 and n <= 5:
#     print("Not Weird")
# elif n % 2 == 0 and n >= 6 and n <= 20:
#     print("Weird")
# elif n > 20 and n < 100:
#     print("Not Weird")
# else:
#     print("Enter number greater than 0 and less than 100")


# Read the input integer
n = int(input().strip())

# Check if the number is odd
if n % 2 != 0:
    print("Weird")
else:
    # Check if the number is even and within the range [2, 5]
    if 2 <= n <= 5:
        print("Not Weird")
    # Check if the number is even and within the range [6, 20]
    elif 6 <= n <= 20:
        print("Weird")
    # Check if the number is even and greater than 20
    else:
        print("Not Weird")

Weird

# Program to print square of first n integers

In [16]:
n = int(input())
for i in range(0, n):
    if n >= 1 and n <= 20:
        print(i ** 2)
    else:
        print("Enter number between 1 and 20")

0
1
4
9
16

# Program to print Leap year

In [1]:
def is_leap(year):
    leap = False

    if year % 4 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 400 == 0:
        return True
    
    return leap

year = int(input())