Q1. Write a Python program to create a MySQL database and a table.

In [9]:
import mysql.connector

# Connect to MySql server

conn = mysql.connector.connect(host = "127.0.0.1", port = "3307",
    user = "root",
    password = "root")  # the password is root  and port is 3307

cursor = conn.cursor()

database_name = "pwskills_practicals"
cursor.execute(f"Create Database {database_name}")

cursor.execute(f"Use {database_name}")


# Create a new table
table_name = "employees"
cursor.execute(f"CREATE TABLE {table_name}(" "id int auto_increment primary key, "
               "name varchar(255),"
               "department varchar(255), "
               "salary Decimal(10, 2)"" )")

# Commit the changes and close the connection

conn.commit()
conn.close()


print("MySql database and table created successfully")

MySql database and table created successfully

Q2. Write a Python program to insert data into a MySQL table.

In [9]:
import mysql.connector

# Connecting to MySql server 
conn = mysql.connector.connect(
    host = "127.0.0.1 ", port = "3307", user = " root", password = "root", database = " pwskills_practicals"
)

cursor = conn.cursor()


# sample data to be inserted into the table employee
data_to_insert = [(1, "Ram", "IT", 20000),
                  (2, "Shyam", "HR", 90000),
                  (3, "Hari", "Marketing", 87000),
                  (4, "Krishna", "HR", 300000),
                  (5, "Sita", "IT", 50000),
                  (6, "Gita", "Marketing", 80000),
                  (7, "Anushka", "Finance", 20000000)]


sql_insert = "Insert into employees(id, name, department, salary) values(%s, %s, %s, %s)"

try:
    cursor.executemany(sql_insert, data_to_insert)
    conn.commit() 
    print("Data inserted successfully.")
except mysql.connector.Error as e:
    print(f"Error inserting data: {e}")

conn.commit()
conn.close()

Data inserted successfully.

Q3. Write a Python program to create an index on a MySQL table.

In [2]:
import mysql.connector

# Connecting to MySql server 
conn = mysql.connector.connect(
    host = "127.0.0.1 ", port = "3307", user = " root", password = "root", database = " pwskills_practicals")


cursor = conn.cursor()
table_name = "employees"
index_name = "sample_index"

# defining the columns to create index
columns = ["id", "name"]

index_query = f"Create index {index_name} ON {table_name} ({', '.join(columns)})"

try:
    cursor.execute(index_query)
    print("Index created successfully.")

except mysql.connector.Error as err:
    print(f"Error creating index: {err}")
finally:

    # closing the cursor and connection 
    cursor.close()
    conn.close()

Index created successfully.

Q4. Write a Python program to join two tables in MySQL.

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'pwskills_assignment' at line 1

In [8]:
import mysql.connector

# Connect to MySql server
conn = mysql.connector.connect(host="127.0.0.1", port="3307", user="root", password="root")

cursor = conn.cursor()

# Select the database
database_name = "pwskills_practicals"
cursor.execute(f"USE {database_name}")

# # Create a new table
# table_name = "address"
# cursor.execute(f"CREATE TABLE {table_name}(" "id int auto_increment primary key, " "name varchar(255)"" )")
# print("MySQL table created successfully")

# # Sample data to be inserted into the table address
# data_to_insert = [
#     (1, "Kathmandu"),
#     (2, "Syangja"),
#     (3, "Bhaktapur"),
#     (4, "Lalitpur"),
#     (5, "Kaski"),
#     (6, "Parbat"),
#     (7, "Baglung")
# ]

# sql_insert = "INSERT INTO address(id, name) VALUES (%s, %s)"

# try:
#     cursor.executemany(sql_insert, data_to_insert)
#     conn.commit()
#     print("Data inserted successfully.")
# except mysql.connector.Error as e:
#     print(f"Error inserting data: {e}")

# Joining 2 tables
# Define the SQL query to join two tables
sql_query = """
SELECT e.id, e.name, e.department, e.salary, a.address
FROM employees e
JOIN address a ON e.address_id = a.id
"""

try:
    # Execute the SQL query
    cursor.execute(sql_query)

    # Fetch all the rows returned by the query
    rows = cursor.fetchall()

    # Display the results
    for row in rows:
        print(row)

except mysql.connector.Error as err:
    print(f"Error executing SQL query: {err}")

# Commit the changes and close the connection
conn.commit()
conn.close()

MySQL table created successfully
Data inserted successfully.
Error executing SQL query: 1054 (42S22): Unknown column 'a.address' in 'field list'