# Random forest classifier with pipeline and hyperparameter tuning

In [53]:
# importing dataset and library
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

# here with all other data we need to predict whether it is dinner time or lunch time

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [54]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [55]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [56]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [57]:
# dependent variable unique variable
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [58]:
df.time

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [59]:
# applying label encoder
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['time'] = encoder.fit_transform(df['time'])

In [60]:
df.time.unique()

array([0, 1])

In [61]:
# independent and dependent features
X = df.drop(labels=['time'], axis= 1)
y = df.time

In [62]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [63]:
X['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [64]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: time, dtype: int32

In [65]:
# train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.20, random_state= 42)

In [66]:
# for pipelines 
from sklearn.pipeline import Pipeline


# for data imputation
from sklearn.impute import SimpleImputer # to handle missing values
from sklearn.preprocessing import StandardScaler ## feature scaling 
from sklearn.preprocessing import OneHotEncoder ## categorical to numerical
from sklearn.compose import ColumnTransformer ## used for combining pipelines and transforms the data

In [67]:
# numerical features and categorical features
categorical_cols = ['sex', 'smoker', 'day']
numerical_cols = ['total_bill', 'tip', 'size']

In [68]:
# These are  the steps for automating features engineering

# creating pipeline for numerical columns and handling missing values
num_pipeline=Pipeline(
    steps = [
        ('imputer ', SimpleImputer(strategy='median')), # if we see nan value in numerical feature then we handle using median
        ('scaler', StandardScaler()) # feature scaling
    ]
)

# categorical pipeline
cat_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),  # handling missing values 
        ('onehotencoder', OneHotEncoder())  # categorical features to numerical
    ]
)

In [69]:
preprocessor = ColumnTransformer([
    ('num_pipeline', num_pipeline, numerical_cols),
    ('cat_pipeline', cat_pipeline, categorical_cols)
])

In [70]:
# applying for all the dataset 
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.fit_transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [71]:
# model training automation 
models = {
    'Random Forest': RandomForest
}