# Hacker Rank

# if_else
- Task
Given an integer, n, perform the following conditional actions:

* If  is odd, print Weird
* If  is even and in the inclusive range of 2 to 5 , print Not Weird
* If  is even and in the inclusive range of 6 to 20 , print Weird
* If  is even and greater than 20 , print Not Weird

Input Format
A single line containing a positive integer,n.

Constraints
1 <= n <= 100

In [1]:
# n = int(input())
# if n % 2 == 1:
#     print("Weird")
# elif n % 2 == 0 and n >= 2 and n <= 5:
#     print("Not Weird")
# elif n % 2 == 0 and n >= 6 and n <= 20:
#     print("Weird")
# elif n > 20 and n < 100:
#     print("Not Weird")
# else:
#     print("Enter number greater than 0 and less than 100")


# Read the input integer
n = int(input().strip())

# Check if the number is odd
if n % 2 != 0:
    print("Weird")
else:
    # Check if the number is even and within the range [2, 5]
    if 2 <= n <= 5:
        print("Not Weird")
    # Check if the number is even and within the range [6, 20]
    elif 6 <= n <= 20:
        print("Weird")
    # Check if the number is even and greater than 20
    else:
        print("Not Weird")

Weird

# Program to print square of first n integers

In [2]:
n = int(input())
for i in range(0, n):
    if n >= 1 and n <= 20:
        print(i ** 2)
    else:
        print("Enter number between 1 and 20")

0
1
4
9

# Program to print Leap year

In [4]:
def is_leap(year):
    leap = False
    if(year%4==0) and (year%400==0 or year%100!=0):
        leap=True
    return leap

    
year = int(input())
print(is_leap(year))

False

# Print the list of integers from 1 to n as as string without spaces

The included code stub will read an integer,n , from STDIN.

Without using any string methods, try to print the following: 123.....n


Note that "......." represents the consecutive values in between.

Example n= 5

Print the string 12345.

Input Format

The first line contains an integer n .

Constraints
1 <= n >= 50

Output Format

Print the list of integers from 1 through n as a string, without spaces.

In [2]:
if __name__ == '__main__':
    n = int(input())

    # Initializing an empty string variable to store the result
    result_string = ""
    for i in range(1,n+1):
        # Convert the current integer to a string
        current_integer_as_string = str(i)

        # concatenate the string representation of the current integer to the result string
        result_string = result_string + current_integer_as_string
        # result_string += current_integer_as_string

    print(result_string)

1234567

One of the built-in functions of Python is divmod, which takes two arguments a and b and returns a tuple containing the quotient of a/b  first and then the remainder .

For example:

>>> print divmod(177,10)
(17, 7)

Here, the integer division is 177/10 => 17 and the modulo operator is 177%10 => 7.

Task
Read in two integers, a and b, and print three lines.
The first line is the integer division a//b
The second line is the result of the modulo operator: a%b.
The third line prints the divmod of a and b.

Input Format
The first line contains the first integer,a , and the second line contains the second integer,b .

Output Format
Print the result as described above.

In [6]:
a = int(input())
b = int(input())
print(int(a/b))
print(a%b)
print(divmod(a,b))

17
7
(17, 7)

You are given three integers: a,b , and c. Print two lines.



* On the first line, print the result of pow(a,b). On the second line, print the result of pow(a,b,m).

In [7]:
a = int(input())
b = int(input())
m = int(input())

print(pow(a,b))
print(pow(a,b,m))


# last one is like pow(a,b,m)  .It's also possible to calculate a^b mod m.

81
1

Print the result of a^b + c^d on one line.

In [9]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

print(pow(a,b) + pow(c,d))

4710194409608608369201743232

# List Comprehensions problem

Let's learn about list comprehensions! You are given three integers x, y  and z representing the dimensions of a cuboid along with an integer n. 



Print a list of all possible coordinates given by (i,j,k) on a 3D grid where the sum of i+j+k is not equal to n. Here, -< = i < = x;
0<= j < = y; 0 <= k < = z . 


Please use list comprehensions rather than multiple loops, as a learning exercise.

Example
x = 1
y = 1 
z = 2
n = 3

All permutations of [i,j,k] are:
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2]].

Print an array of the elements that do not sum to n = 3.

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

Input Format

Four integers x,y,z and n, each on a separate line.

Constraints

Print the list in lexicographic increasing order.

In [2]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    coordinates = [[i,j,k] for i in range(x + 1) for j in range(y+1) for k in range(z+1)]
    filtered_coordinates = [coord for coord in coordinates if sum(coord) != n]
    print(filtered_coordinates)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 2, 0], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2], [1, 2, 1], [1, 2, 2], [2, 0, 0], [2, 0, 2], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

## Find the  runner-up score


Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given n scores. Store them in a list and find the score of the runner-up.

 Input Format

The first line contains n. The second line contains an array A[] of n integers each separated by a space.


 Constraints

• 2 ≤ n ≤ 10
•-100 A[i] < 100

 Output Format

Print the runner-up score.


 Sample Input O

5

23665

 Sample Output O

5

 Explanation O

Given list is [2, 3, 6, 6, 5]. The maximum score is 6. second maximum is 5. Hence, we print 5 as the runner-up score.

In [3]:
# Step 1: Input the number of scores
n = int(input("Enter the number of scores: "))

# Step 2: Input the scores as a space-separated string and split it into a list of integers
scores = list(map(int, input("Enter the scores separated by space: ").split()))


# Step 3: Sort the scores in descending order
scores.sort(reverse=True)

# Step 4: Find the maximum score
max_score = scores[0]

# Step 5: Find the runner-up score
runner_up_score = None
for score in scores:
    if score < max_score:
        runner_up_score = score
        break


# Step 6: Print the runner-up score
print("The runner-up score is:", runner_up_score)

#     n = int(input())
#     arr = map(int, input().split())

The runner-up score is: 7

In [4]:
# another answer 

if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    
    # Convert the map object to a list and remove duplicates by converting to a set
    unique_scores = list(set(arr))
    
    # Sort the unique scores in descending order
    unique_scores.sort(reverse=True)
    
    # Print the second highest score
    print(unique_scores[1])

8

# Nestes List Question

Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.


Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.


# Example
records = [["chi", 20.0], ["beta", 50.0], ["alpha", 50.0]]


The ordered list of scores is [20.0, 50.0], so the second lowest score is 50.0. There are two students with that score: ["beta", "alpha"]. Ordered alphabetically, the names are printed as:


alpha

beta


# Input Format


The first line contains an integer, N. the number of students.
The 2N subsequent lines describe each student over 2 lines.


-The first line contains a student's name.
- The second line contains their grade.


# Constraints


• 2≤ N ≤5

• There will always be one or more students having the second lowest grade.


# Output Format


Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, 
order their names alphabetically and print each one on a new line. 

# Sample Input O

5

Harry 

37.21 

Berry 

37.21

Tinal

37.2

Akriti

41

Harsh

39


# Sample Output O
Berry 

Harry


# Explanation O
There are 5 students in this class whose names and grades are assembled to build the following list:


python students = [[Harry. 37.21], ['Berry, 37.211. [Tina', 37.2], ['Akriti, 41], ['Harsh', 39]]

The lowest grade of 37.2 belongs to Tina. The second lowest grade of 37.21 belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [1]:
def nested_lists(students):
    grades = sorted(set( score for name, score in students))

    # finding the second lowest grade 
    second_lowest_grade = grades[1]

    second_lowest_students = [name for name, score in students if score == second_lowest_grade]

    second_lowest_students.sort()

    return second_lowest_students

students = [("Alice", 30), ("Bob", 40), ("Charlie", 20), ("David", 30)]
result = nested_lists(students)
print("Student(s) with the second lowest grade:", result)

Student(s) with the second lowest grade: ['Alice', 'David']

In [2]:
if __name__ == '__main__':
    students = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name,score])

        # Sort the list of students by score in ascending order
    students.sort(key=lambda x: x[1])

        # Find the second lowest score
    second_lowest_score = sorted(set([x[1] for x in students]))[1]

        # Create a list of names with the second lowest score
    names = [x[0] for x in students if x[1] == second_lowest_score]

        # Print the names in sorted order
    for name in sorted(names):
        print(name)

ValueError: invalid literal for int() with base 10: 'ram 33'

In [3]:
if __name__ == '__main__':
    # Get the number of students as input
    n = int(input("Enter the number of students: "))

    # Initialize an empty list to store student information (name, score)
    students = []

    # Input student information (name and score) and store it in the list
    for _ in range(n):
        name = input("Enter the student's name: ")
        score = float(input("Enter the student's score: "))
        students.append((name, score))

    # Call the nested_lists function to find the student(s) with the second lowest grade
    result = nested_lists(students)

    # Print the names of student(s) with the second lowest grade
    if len(result) == 1:
        print("Student with the second lowest grade:", result[0])
    else:
        print("Students with the second lowest grade:", ', '.join(result))

ValueError: could not convert string to float: ''

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. 
Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Example




The query_name is 'beta'. beta's average score is .

In [2]:
def find_average(student_marks, query_name):
  """
  Calculates the average score (percentage) of a student.

  Args:
      student_marks: A dictionary containing student names as keys and their marks as lists of values.
      query_name: The name of the student for whom to find the average score.

  Returns:
      A string representing the average score with two decimal places or "Student not found" if the student is not in the dictionary.
  """

  if query_name in student_marks:
    marks = student_marks[query_name]
    average = sum(marks) / len(marks)
    return f"Average score for {query_name}: {average:.2f}"
  else:
    return "Student not found"

# Get input
n = int(input())
student_marks = {}
for _ in range(n):
  name, *marks = input().split()
  student_marks[name] = list(map(float, marks))

query_name = input()

# Find and print average
average_message = find_average(student_marks, query_name)
print(average_message)

Student not found

In [7]:
# another method 
num_of_student = int(input("Enter the number of students: "))

student_info = {}

for i in range(num_of_student):

    # Reading student name and marks
    name, *marks = input("Enter name and marks: ").split()

    marks = list(map(float, marks))

    student_info[name] = marks

# Reading the name of student whose avarage marks need to be calculated 
student_name = input("Enter student name to calculate avarage marks: ")

average_marks = sum(student_info[student_name]) / len(student_info[student_name])

# Average marks rounded to 2 decimal place

print("{:.2f}".format(average_marks))

38.00

You are given a positive integer N. Print a numerical triangle of height N-1  like the one below:

1

22

333

4444

55555

......


Can you do it using only arithmetic operations, a single for loop and print statement?

Use no more than two lines. The first line (the for statement) is already written for you. You have to complete the print statement.

In [1]:
for i in range(1, int(input())):
    print(((10**i)//9)*i)

# we have to use floor function

1
22
333
4444

# List question 

Consider a list (list = []). You can perform the following commands:


1. insert i e: Insert integer  at position .

2. print: Print the list.

3. remove e: Delete the first occurrence of integer .

4. append e: Insert integer  at the end of the list.

5. sort: Sort the list.

6. pop: Pop the last element from the list.

7. reverse: Reverse the list.



Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above. Iterate through each command in order and perform the corresponding operation on your list.

In [3]:
# List question
if __name__ == '__main__':
    N = int(input())
    arr = []
    for i in range(N):
        item = input()
        if "insert" in item:
            num = item.split()
            arr.insert(int(num[1]).int(num[2]))

        elif "remove" in item:
            num = item.split()
            arr.remove(int(num[1]))   # 

        elif "append" in item:
            num = item.split()
            arr.remove(int(num[1]))

        elif "sort" in item:
            arr.sort()

        elif "pop" in item:
            arr.pop()    # it deletes the last element from the list

        elif "reverse" in item:
            arr.reverse()

        elif "print" in item:
            print(arr)

# Tuple and Hash map

In [1]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t))

8409376899596376432

# Exceptions
Errors detected during execution are called exceptions.

In [3]:
for i in range(int(input())):
    try:
        a, b = map(int, input().split())
        print(a//b)
    except Exception as e:
        print ("Error code: ", e)

Error code:  integer division or modulo by zero

In [4]:
for i in range(int(input())):
    a, b = input().split() 
    try:
        result = int(a)//int(b)
    except ZeroDivisionError as e:
        print(f"Error Code:",e)
    except ValueError as e:
        print(f"Error Code:",e)    
    else:
        print(result)

Error Code: integer division or modulo by zero
Error Code: invalid literal for int() with base 10: '$'
3

## Incorrect Regex

You are given a string  S.

Your task is to find out whether S is a valid regex or not.

In [9]:
import re
for r in range(int(input())):
    try:
        re.compile(input())
        print("True")

    except re.error:
        print("False")

True