In [1]:
# If we have no idea that how many will be given by user then we can use below function 

def func(*args):
    result = sum(args)
    print(result)

#  *-this makes tuple 

func(4,5)

9

In [2]:
def func(*pri):
    result = sum(pri)
    print(result)

func(4,5)

9

In [3]:
# storing in key value pair or dictonary 
def func1(**argument):
    return argument

func1(name = "rajnish", address = 'nayabazar')

{'name': 'rajnish', 'address': 'nayabazar'}

In [5]:
# Tuple and dictonary at same time 
def func2(*print1, **print2):
    return print1, print2

func2(1,2,3,4,5,33,33,33,22,11,1,32, name = "rajnish", address = 'nayabazar' )


# (* it store in tuple and ** store in dictonary)

((1, 2, 3, 4, 5, 33, 33, 33, 22, 11, 1, 32),
 {'name': 'rajnish', 'address': 'nayabazar'})

In [6]:
# Normal value, Tuple and dictonary at same time 
def func2(print0,*print1, **print2):
    return print0, print1, print2

func2(1,2,3,4,5,33,33,33,22,11,1,32, name = "rajnish", address = 'nayabazar' )

(1,
 (2, 3, 4, 5, 33, 33, 33, 22, 11, 1, 32),
 {'name': 'rajnish', 'address': 'nayabazar'})

In [11]:
# Performing Operations after passing parameter
def add(a,b):
    sum = a + b
    return sum + 10

print(type( sum ))

add(2,4)


# we cannot do this using print function as print always

<class 'builtin_function_or_method'>

16

In [13]:
def my_function(a, b): 
    return a * b 

my_function(3, 4)

12

In [14]:
# checking for odd eve 
def check_even_odd(number):
    if number % 2 ==0:
        print(f"{number} is even.")
    else:
        print(f"{number} is odd")

check_even_odd(4)

4 is even.

In [15]:
# checking for odd eve 
def check_even_odd(number):
    if number % 2 ==0:
        print(f"{number} is even.")
    else:
        print(f"{number} is odd")

number = 3
check_even_odd(number)

3 is odd

In [19]:
# finding factorial of number 
def factorical(n):
    if n == 0 and n ==1:
        return 1
    else:
        result = 1
        for i in range(2, n+1):
            result = result * i

        return result
    
number = int(input("Enter a number to calculate the factorical: "))
result = factorical(number)
print(f"The factorical of {number} is {result}")

The factorical of 5 is 120

In [1]:
# Nested function 

def outer_fun():
    print("This is my outer function")

    def inner_func():
        print("inner function")

    inner_func()

outer_fun()

This is my outer function
inner function

In [2]:
outer_fun()

This is my outer function
inner function

In [3]:
def cal():
    def add(a,b):
        return a+ b
    def sub(a,b):
        return a-b
    def mul(a,b):
        return a* b
    def div(a,b):
        return a / b
    
    return{'add': add, 'sub':sub, 'mul':mul, 'div': div}

In [5]:
cal()['add'](3,5)

8

In [7]:
def outer_function(x):
    def inner_function1(y):
        def inner_function2(z):
            return z **2
        
        return inner_function2(y * 3)
    
    result = inner_function1(x) + x
    return result



result_value = outer_function(3)
print(result_value)

84

# Higher Order Functions

In [8]:
def hello(a):
    return a**2
hello(4)

16

In [9]:
type(hello)

function

In [14]:
# storing function in values
a = [1,2,121, 5]
a[1]

2

In [11]:
# storing function in variable
h = hello

In [12]:
h

In [13]:
# we can call the function with the help of stored variable too 

h(3)

9

In [15]:
# storing function in values
a = [1,2,121, 5, h]
a[-1](5)

# function can also be used as data type

25

In [16]:
# returning function inside a function 
def hello1():
    def hello2(a):
        return a**2
    
    return hello2
hello1()(3)

9

In [19]:
def mul(a):
    def mul1(b):
        return a*b
    return mul1
mul(2)(3)

6

In [23]:
# Fucntion as argument 
def operation(a, b, operation):
    return operation(a,b)

def add(a,b):
    return a + b 

def mul(a,b):
    return a * b

add(2,3 )

5

In [24]:
operation(2,3, add)

5

In [5]:
# lambda function

s = lambda a : a**2
s(4)

16

In [7]:
s(5)

25

In [9]:
def operation(a, b, oper):
    return oper(a,b)


operation(4, 9, lambda a, b : a+b)

13